
<!-- Side navigation -->
<div class="sidenav">
  <a href="/campgrounds">Campgrounds</a>
  <br/>
  <a href="/users/account">Edit Account</a>
  <br/>
  <a href="/users/logout">Logout</a>
  <br/>
</div>

<div class="main">
    <h1>{{campground.name}}</h1>
    <p>Campground details:</p>
            <img src="{{campground.image}}" alt="campground_image" style="width:512px;height:512px;">
            <br/>
            Description: {{campground.description}}
            <br/>
            Location: {{campground.location}}
            <br/>
            

</div>