
<!-- Side navigation -->
<div class="sidenav">
  <a href="/campgrounds">Campgrounds</a>
  <br/>
  <a href="/users/account">Edit Account</a>
  <br/>
  <a href="/users/logout">Logout</a>
  <br/>
</div>

<div class="main">
    <h1>{{campground.name}}</h1>
    <p>Campground details:</p>

            Description: {{campground.description}}
            <br/>
            Location: {{campground.location}}

</div>