<!-- Side navigation -->
<div class="sidenav">
  <a href="/campgrounds">Campgrounds</a>
  <br/>
  <a href="/users/account">Edit Account</a>
  <br/>
  <a href="/users/logout">Logout</a>
  <br/>
</div>

<div class="main">
    <h1>New Campground</h1>
    <p>Fill in the details for a new campground below!</p>

<form id = "new-campground-form" action = "/campgrounds/new" method = "post" encType="multipart/form-data">
  
      <label>Campground Title: </label>
      <input id = "name" name = "name">
      <br/>
  
      <label>Description: </label>
      <br/>
      <textarea id = "description" name = "description" rows="3" cols="50"></textarea>
      <br/>

      <label>Price per night: </label>
      <input id = "price" name = "price">
      <br/>

      <label>Address/Location: </label>
      <input id = "location" name = "location">
      <br/>

      <label>Contact Information: </label>
      <input id = "contact_info" name = "contact_info">
      <br/>

        <label>Campground Picture: </label>
       <input type="file" name="pic" accept="image/*">
  
    <button type = "submit">Submit</button>
</form>

</div>