
<!-- Side navigation -->
<div class="sidenav">
  <a href="/campgrounds/new">New Campground</a>
  <br/>
  <a href="/users/account">Edit Account</a>
  <br/>
  <a href="/users/logout">Logout</a>
  <br/>
</div>

<div class="main">
    <h1>Campgrounds:</h1>
    <p>Here's a list of the campgrounds!</p>

    {{#if campgrounds}}
    <ol id="attempts" class="attempts"></ol>
        {{#each campgrounds}}
        <li>
           <a href="/campgrounds/id/{{this._id}}">{{this.name}}</a>
            <br/>
            Description: {{this.description}}
            <br/>
            Location: {{this.location}}
        </li>
        {{/each}}
    {{/if}}
</div>