{{#if error}}
<h3>{{message}}</h3>
{{/if}}

<h1>Welcome!</h1>
<p>To continue, please type your username and password to log in.</p>

<form id = "login-form" action = "/users/login" method = "post"> <!-- action = ? method ="post"? -->
    <label>Username: </label>
    <input id = "username" name = "username" placeholder = "username">
    <label>Password: </label>
    <input id = "password" name = "password" placeholder = "password">
    <button type = "submit">Log In</button>
</form>

<h4><a href = "signup"> Sign Up</h4>
