{{#if error}}
<h3>{{message}}</h3>
{{/if}}

<h1>Welcome!</h1>
<p>hahahahaha.</p>

<form id = "login-form" action = "/login" method = "post"> <!-- action = ? method ="post"? -->
    <label>raegergaergaergae: </label>
    <input id = "username" name = "username" placeholder = "username">
    <label>Password: </label>
    <input id = "password" name = "password" placeholder = "password">
    <button type = "submit">Log In</button>
</form>

<h4><a href = "login">Log In</h4>
