<h1>Welcome to Campgrounds!</h1>
<p>To continue, please type your username and password to log in.</p>

<form id = "login-form" action = "/users/login" method = "post">
    <label>Username: </label>
    <input id = "username" name = "username" placeholder = "username">
    <label>Password: </label>
    <input type = "password" id = "password" name = "password" placeholder = "password">
    <button type = "submit">Log In</button>
</form>

{{#if error}}
<h3>{{message}}</h3>
{{/if}}

<h4><a href = "signup"> Sign Up</a></h4>
